# Ignore Play! working directory #
.target
data/
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
activator*
app_wallet.data
wallet-kit.spvchain
wallet-kit.wallet
config.ini
