.content-container {
    padding-top: 100px;
    min-height: 800px;
    background: url("../images/congruent_outline.png") center center repeat;
}

.well-container {
    background-color: #fafafa;
    .inner {
        padding: 10px;        
    }    
}

.available-games th {
    text-align: center;
}