.content-container {
    padding-top: 100px;
    min-height: 800px;
    background: url("../images/congruent_outline.png") center center repeat;
}

.well-container {
    background-color: #fafafa;
    .inner {
        padding: 10px;        
    }    
}

.available-games th {
    text-align: center;
}

.margin-top {
    margin-top: 30px;
}

.info-box {
  padding: 10px;
  > h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
 .game-rules li {
   padding-bottom: 10px;
   &:last-child {
    padding: 0px;
   }
 }
 
}

.golf-word-container {

  .word-container {
    padding-bottom: 30px;
  }

  .word-list {
    list-style-type: none;
    margin: 0px;
    padding: 0 0 0 10px;
    font-size: 18px;
    
    li {
      display: inline-block;
      padding-right: 5px;
    }
    
    .word-target {
      height: 40px;
      width: 150px;
      border-bottom: 1px solid #333;
    }
  }
  
  .options-list {
    list-style-type: none;
    margin: 0px;
    padding: 0 0 0 10px;
    text-align: center;
    
    li {
      display: inline-block;
      padding: 8px;
      margin-right: 5px;
      background-color: #ECECEC;
      border: 1px solid #ccc;
      a {
        color: inherit;        
      }
    }
  }
  
  .own-phrase {
    margin-top: 30px;
  }
    
  .small-help {
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 8px;
    font-size: 12px;
  }
  
}