@* fbLogin Template File *@
@(param: Any)

 @main("About", "sticky-footer") {
 
 <div class="container no-header-container">
    <div class="row">
        <div class="col-md-12">
            <div class="inner"> 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    	<h1 class="page-header">About</h1>
                    	                    	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 }