@* dealover Template File *@
@(param: Any)

@main("Play a game!") {
 
<div class="container well-container deal-nodeal-container">
    <div class="row">
        <div class="col-md-12">
            <div class="inner"> 
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="alert alert-info text-center">
                            <h3>Sorry! This key has already been played.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}