@* dealornodeal Template File *@
@(game: AvailableKey, dealBoard: play.api.libs.json.JsValue)

@main("Play a game!", "deal-or-no-deal-body") {
           
<div class="deal-or-no-deal"></div>

<div class="modal fade" data-provide="instructions">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Instructions</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info text-center">
            <p>It's classic "Deal or no Deal". You'll start off by picking "Your case" and then pick remaining cases from the board.</p>
            <p>As you're picking, you'll receive "offers" from the banker which you can accept or refuse.</p> 
            <p>Finally, with one case left you can either switch cases or keep yours before revealing the amount in your case.</p>                                    
        </div>
        
        <h4>The Details</h4>
        <ol>
            <li>Select "your case"</li>
            <li>Select <strong>6 cases</strong></li>
            <li>Receive an offer from the banker</li>
            <li>Select <strong>5 cases</strong></li>
            <li>Receive an offer from the banker</li>
            <li>Select <strong>4 cases</strong></li>
            <li>Receive an offer from the banker</li>
            <li>Select <strong>3 cases</strong></li>
            <li>Receive an offer from the banker</li>
            <li>Select <strong>2 cases</strong></li>
            <li>Receive an offer from the banker</li>
            <li>Alternate selecting cases and receiving offers until <strong>1 case</strong> is left</li>
            <li>Decide if you want to switch cases or not</li>
            <li>Reveal the amount you've <strong>won!</strong></li>            
        </ol>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="boardTemplate">

<div id="boardTarget" class="container board-container">
    <div class="row">

        <div class="col-md-3 col-lg-2 sidebar-container">
        
          <div class="sidebar-profile">
            <div class="photo"><img data-provide="profile-image" src="<%= board.profileImage %>"></div>
            <div class="username" data-provide="profile-name"><%= board.firstName %></div>
          </div>
          
          <div class="your-case">
            <div class="case-text">Your Case:</div>
                                    
            <% if( board.selectedBox !== null ){ %>
                <div class="case"><span><%= board.selectedBox + 1 %></span></div>
            <% }else{ %>
                <div class="pick-one alert alert-white">Please pick one!</div>
            <% } %>
            
          </div>
          
          <div class="recent-activity">
            <ul>
              <% _.each( getPreviousActions(), function(obj){ %>
                <% if( obj.type == "offer" ){ %>
                    <li>Offer: <span class="offer"><%= number_format(obj.value) %></span><span class="clearfix"></span></li>
                <% } %>
                
                <% if( obj.type == "opened_box" ){ %>
                    <li><%= number_format(obj.amount) %> <span class="badge">#<%= obj.pos + 1 %></span> <span class="clearfix"></span></li>  
                <% } %>
                
              <% }); %>
                                                                                 
            </ul>
          </div>
                  
        </div>

        <div class="col-md-9 col-lg-10">

            <div class="row header-container">
                <div class="col-md-9 col-lg-10">            
                  <div class="header"><img src="@routes.Assets.at("images/banner.png")"></div>            
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="btn-group game-buttons pull-right">
                        <a data-provide="toggle-sound" href="#" class="btn btn-transparent"><span class="glyphicon glyphicon-volume-off"></span></a>
                        <a data-provide="get-help" href="#" class="btn btn-transparent"><span class="glyphicon glyphicon-question-sign"></span></a>              
                        <a data-provide="quit-game" href="#" class="btn btn-transparent"><span class="glyphicon glyphicon-off"></span></a>
                    </div>          
                </div>         
            </div>

            <div class="row inner-board-container">

              <div class="col-md-3 col-lg-2 remaining-amounts">
                  <ul>
                    <% for(var i = 0; i < Math.floor(board.amounts.length / 2); i ++){ %>
                        <li class="<%= board.amounts[i]["available"] ? "available" : "taken" %>">
                            <span><%= number_format(board.amounts[i]["amount"]) %></span>
                        </li>
                    <% } %>
                  </ul>
              </div>
              <div class="col-md-6 col-lg-8">
              
                <div class="case-container">
                
                    <% for(var i = 0; i < 4; i++ ){ %>
                        <ul class="board-row">
                            <% for(var j = rows[i][0]; j <= rows[i][rows[i].length-1]; j++){ %>
                                <li class="<%= window.getBoxAtPos(j-1).isPlayed ? "taken" : "" %>">
                                
                                    <a class="briefcase" data-provide="briefcase" href="#<%= (j-1) %>"
                                      <%= window.getBoxAtPos(j-1).isPlayed ? " data-isplayed=\"true\" " : "" %>>
                                        <div class="case">
                                            <span><%= j %></span>
                                        </div>
                                    </a>
                                    <div class="case-amount hidden"></div>
                                    
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                    
                </div>
                
                <div class="message-container">
                    <div class="alert message <%= status.length ? "" : "hidden" %>" data-provide="game-status">
                        <%= status %>
                    </div>
                </div>
                
                <% if( board.yourBoxValue ){ %>
                
                    <div class="message-container your-box-container">
                        <div class="alert message">
                            <div class="large-text">Your case contained: <%= number_format(board.yourBoxValue) %></div>
                            
                            <div class="text-center send-btc-btn">
                                <a href="#" data-provide="redeem-btc" class="btn btn-primary">Redeem your BTC!</a>
                            </div>                            
                        </div>
                    </div>                
                
                <% } %>                
                
                <div data-provide="banker-container" class="banker-container hidden">                                                   
                    <ul class="offer-list">
                        <li class="offer-label">Your offer is: </li>
                        <li data-provide="offer" class="offer"><%= number_format(board.currentOffer) %></li>
                    </ul>
                    
                    <ul class="list-inline">
                        <li><a href="#" data-provide='no-deal' class="btn btn-danger">Nope, no deal!</a></li>
                        <li><a href="#" data-provide='take-deal' class="btn btn-success">Ok, I'll take the deal!</a></li>
                    </ul>                                                         
                </div>
                
                <div data-provide="switch-container" class="switch-container hidden">
                    <div class="message-container">
                        <div class="alert message">
                            In the spirit of competition, the Banker will let you trade your case for the last case on the board.
                            <strong>Would you like to?</strong>                        
                                                    
                            <ul class="list-inline">
                                <li><a class="btn btn-danger" href="#nope" data-provide="trade-box">Nope, No trade</a></li>
                                <li><a class="btn btn-success" href="#yes" data-provide="trade-box">Yes! Let's trade</a></li>
                            </ul>
                        </div>
                    </div>                
                </div>
                
              </div>
              <div class="col-md-3 col-lg-2 remaining-amounts">
                  <ul>
                    <% for(var i = Math.floor(board.amounts.length / 2); i < board.amounts.length; i ++){ %>                
                        <li class="<%= board.amounts[i]["available"] ? "available" : "taken" %>">
                            <span><%= number_format(board.amounts[i]["amount"]) %></span>
                        </li>
                    <% } %>
                  </ul>
              </div>
             
            </div>
        </div>

    </div>
</div>

</script>

<script>

Howl.prototype.xPlay = function( onEndFn ){
  var a = document.createElement('audio');
  var hasAudio = !!(a.canPlayType && a.canPlayType('audio/mpeg;').replace(/no/, ''));  
  onEndFn = onEndFn == null ? this.onend : onEndFn;
  
  if( window.isSoundOn && hasAudio ){
    this.play();
  }else if(onEndFn) {
    onEndFn();
  }
  
}

window.isSoundOn = true;
var board = @Html(dealBoard.toString);
var profile = {firstName: "", profileImage: ""};

var bankerOfferClip = new Howl({
  urls: ["@routes.Assets.at("sound/old-telephone-bell-british-version.mp3")"],
  buffer: true,
  onend: function(){
    $("[data-provide='game-status']").addClass("hidden"); 
    $("[data-provide='banker-container']").removeClass("hidden");
  }
});

var gaspClip = new Howl({
  urls: ["@routes.Assets.at("sound/gasp.mp3")"],
  buffer: true
});

var clapsClip = new Howl({
  urls: ["@routes.Assets.at("sound/claps.mp3")"],
  buffer: true
});

function getPreviousActions(){
    var list = [];
    var sortedBoxes = _.sortBy( _.filter(board.boxes, function(el){return el.playIndex ? true : false;}) , "playIndex");
    var dealIndex = [ 20, 15, 11, 8, 6, 5, 4, 3, 2 ];
    var pastOfferIndex = 0;
    
    for(var i = 0; i < sortedBoxes.length; i++){
        sortedBoxes[i].type = "opened_box";
        list.push( sortedBoxes[i] );
        
        if( $.inArray(i, dealIndex) > -1 ){
            list.push( {type: "offer", value: board.pastOffers[pastOfferIndex]} );
            pastOfferIndex += 1;
        }        
    }
    
    return list;
}

function toggleBriefcases(dir){
    if( dir == "disable" ){
        $(".case-container").addClass("disabled");        
    }
    
    if( dir == "enable" ){
        $(".case-container").removeClass("disabled");
    }
}

function getBoxAtPos(position){
    return _.findWhere(board.boxes, {pos: position});
}

function fetchJson( payload, url ){

     if( !url ){
       url = "@routes.DealOrNoDeal.playDeal(game.publicKey)"
     }

    return $.ajax({url: url, type: "POST",
                  data: JSON.stringify(payload), 
                  contentType: "application/json; charset=utf-8",
                  dataType: "json"});
}

function setGameStatus( status ){
    $("#boardTarget [data-provide='game-status']").html( status );
}

function renderBoard(status){
    var rows = [ _.range(1, 7), _.range(7, 14), _.range(14, 21), _.range(21, 27) ];
    var template = _.template( $("#boardTemplate").html() );
    
    $.extend(board, profile);
    $(".deal-or-no-deal").html( template({board: board, rows: rows, status: status}) );
}

function showBankerOffer(){
    
    toggleBriefcases("disable");
    
    $("[data-provide='game-status']")
        .removeClass("hidden")
        .html("The banker is contacting you right now with an offer.");
    
    bankerOfferClip.xPlay(function(){
        window.setTimeout(function(){ bankerOfferClip.onend(); }, 3000);
    });         
}

function showSwitchModal(){
    toggleBriefcases("disable");
    $("[data-provide='switch-container']").removeClass("hidden");
}

function updateBoard(){

  if( board.selectedBox === null ){
    renderBoard("You need to pick 'your case' to start off!");
  }else{
    var status = (board.boxesToPick > 0) ? "Awesome. Just " + board.boxesToPick + " more to pick." : "";  
    renderBoard(status);
  }

  if( board.canSwitch ){
    showSwitchModal();
  }

  if( board.currentOffer ){
    showBankerOffer();            
  }
  
}

var fbTimer = window.setTimeout(function(){
    updateBoard();
}, 2000);

window.onFbLoaded = function(){
    
    var fbMeDeffered = $.Deferred();
    var fbPictureDeffered = $.Deferred();
    
    window.clearTimeout(fbTimer);
    
    $.when(fbMeDeffered, fbPictureDeffered).done(function(){
        updateBoard();
    });
    
    FB.getLoginStatus(function(loginResponse){            
        
        FB.api("/me", function(response){            
            profile.firstName = response["first_name"];
            fbMeDeffered.resolve();  
        });
        
        FB.api("/me/picture?height=160&width=160", function (response) {                                           
            if( response && !response.error) {
              profile.profileImage = response.data.url;                              
            }                       
            fbPictureDeffered.resolve();
        });
            
    });     
  
};

$(document).ready(function(){      

  $("[data-provide='instructions']").modal( {show: true} );          
  
  $("body").on("click", "[data-provide='get-help']", function(){
    $("[data-provide='instructions']").modal( {show: true} );
    return false;
  });    
  
  $("body").on("click", "[data-provide='redeem-btc']", function(){
  
    fetchJson({}, "@routes.DealOrNoDeal.getRedeemUrl(game.publicKey)").done(function(data){
        if( data.url.length == 0 ){
            alert("Sorry! You can't redeem anything right now.");
        }else{
            window.location = data.url;
        }
    });
  
    return false;
  });
  
  $("body").on("click", "[data-provide='take-deal']", function(){
    fetchJson({}, "@routes.DealOrNoDeal.takeDeal(game.publicKey)").done(function(data){
        window.url = data.url;
    });
    
    return false;  
  });
  
  $("body").on("click", "[data-provide='no-deal']", function(){
    
    gaspClip.xPlay();
    
    toggleBriefcases("enable");
    $("[data-provide='banker-container']").addClass("hidden");
    
    return false;        
  });  
  
  $("body").on("click", "[data-provide='trade-box']", function(){
    var action = $(this).attr("href").replace("#", "") == "yes" ? "switchBox" : "declineSwitchBox";
    
    fetchJson({action: action} ).success(function(data){
        $("#switchBoxModal").modal("hide");
        board = data;
        updateBoard();        
    });
    
    return false;
  });
  
  $("body").on("click", "[data-provide='toggle-sound']", function(){
  
    var spanClass = "";
  
    if( window.isSoundOn ){
        window.isSoundOn = false;
        spanClass = "glyphicon-volume-up";
    }else{
        window.isSoundOn = true;
        spanClass = "glyphicon-volume-off";
    }
    
    $(this).find("span:first")
           .removeClass("glyphicon-volume-off glyphicon-volume-up")
           .addClass(spanClass);
    
    return false;  
  });
  
  $("body").on("click", "[data-provide='briefcase']", function(){
    
    if( $(".case-container").hasClass("disabled") ){
        return false;
    }
    
    if( $(this).data("isplayed") ){
        alert("Sorry! That case has already been played.");   
        return false;    
    }
    
    clapsClip.xPlay();    
    
    var pos = $(this).attr("href").replace("#", "");        
    
    if( board.selectedBox === null ){ 
        fetchJson( {action: "selectCase", pos: parseInt(pos)} ).success(function(data){
            board = data;
            updateBoard();            
        });                            
    }else{
        var fetchDf = fetchJson( {action: "openBox", pos: parseInt(pos)} ).done(function(data){ 
            board = data;
        });
        
        var li = $(this).parents("li:first");
        var offset = $(li).offset();
        var parentOffset = $(li).parents(".board-row:first").offset();
        var width = ($(".game-container").width() - 300) / 2;
        
        $('<div class="modal-backdrop fade in" />').appendTo( $("body") );    
        
        $(li).addClass("animated-amount");
        $(li).find("span").html("");
                
        $(li).css({position: "absolute", left: offset.left - parentOffset.left, 
                   top: offset.top - parentOffset.top, "z-index": 1045});
        
        var animateDf = $.Deferred(); 
        
        var left = (($(".board-row").width() / 2) - 128);        
        $(li).animate({top: 0, left: left, "width": 256, "height": 228}, function(){animateDf.resolve();});
        
        $.when(fetchDf, animateDf).then(function(){
        
            $(li).find("span").html( board.lastAmount ).addClass("case-amount");
            
            window.setTimeout(function(){
                $(".modal-backdrop").remove();
                updateBoard();
            }, 3000);
                                
        });        
        
    }
    
    return false;
  });        
  
  
});
</script>

}