@* dealornodeal Template File *@
@(game: AvailableKey, dealBoard: play.api.libs.json.JsValue)

@main("Play a game!") {
    <div class="container well-container deal-nodeal-container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner">
                    
                    <div class="row">
                        <div class="col-md-12">                    
                            <div class="pull-left">
                               <h2>@game.getReadableGame at @game.publicKey</h2>
                           </div>
                       </div>
                   </div>
                   
                   <div id="boardTarget"></div>                   
                   
                    <div class="row margin-top">
                    
                        <div class="col-md-9">

                        </div>
                   
                        <div class="col-md-3">
                            <div class="info-box alert alert-info text-right">
                                <h3 class="no-margin">How it works:</h3>
                                <ul class="game-rules">
                                    <li>It's classic <a href="http://en.wikipedia.org/wiki/Deal_or_No_Deal" target="_blank">Deal or No Deal!</a></li>
                                    <li>The 26 briefcases on the board have between 1 and 1000000 Satoshis in them</li>                                                                    
                                </ul>
                            </div>
                        </div>                                                         
                  </div>                  
           </div>
       </div>
   </div>
</div>

<script type="text/template" id="boardTemplate">
<div class="row margin-top">

<div class="col-md-2 amount-container">
    <div class="inner">
        <ul>
            <% for(var i = 0; i < Math.floor(board.amounts.length / 2); i ++){ %>
                <li class="<%= !board.amounts[i]["available"] ? "taken" : "" %>"><span><%= board.amounts[i]["amount"] %></span></li>
            <% } %>
        </ul>
    </div>

    <div class="your-case">
        <h3>Your Case</h3>
        <div class="case">
            <span><%= board.selectedBox ? board.selectedBox : "?" %></span> 
        </div>            
    </div>

</div>
<div class="col-md-8 game-container">

    <% for(var i = 0; i < 4; i++ ){ %>
        <ul class="board-row">
            <% for(var j = rows[i][0]; j <= rows[i][rows[i].length-1]; j++){ %>
                <li class="<%= window.getBoxAtPos(j-1).isPlayed ? "taken" : "" %>">
                    <a class="briefcase" data-provide="briefcase" href="#<%= (j-1) %>"
                      <%= window.getBoxAtPos(j-1).isPlayed ? " data-isplayed=\"true\" " : "" %>>
                        <%= j %>
                    </a>
                </li>
            <% } %>
        </ul>
    <% } %>

    <div class="row game-info-row">
        <div class="col-md-7">
            <div data-provide="game-status" 
                class="game-status alert alert-info <%= status.length ? "" : "hidden" %>">
                <%= status %>
            </div>    
        </div>
        <div class="col-md-5">
            <% if( board.lastAmount ){ %>
                <div class="last-amount">
                    Last Case: <%= board.lastAmount %>
                </div>
            <% } %>
        </div>
    </div>    

    <% if( board.yourBoxValue ){ %>
    <div class="row margin-top">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success text-center">
                <h3>Your case contained: <%= board.yourBoxValue %></h3>
            </div>

            <div class="text-center send-btc-btn">
                <a href="#" class="btn btn-primary btn-lg">Send me my BTC!</a>
            </div>
        </div>
    </div>
    <% } %>

</div>
<div class="col-md-2 amount-container">
    <div class="inner">
        <ul>
            <% for(var i = Math.floor(board.amounts.length / 2); i < board.amounts.length; i ++){ %>                
                <li class="<%= !board.amounts[i]["available"] ? "taken" : "" %>"><span><%= board.amounts[i]["amount"] %></span></li>
            <% } %>            
        </ul>
    </div>                        
</div>
</div>

</script>

<div class="modal fade" id="bankerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">        
        <h4 class="modal-title">An offer from the banker!</h4>
      </div>
      
      <div class="modal-body">
        <div data-provide="banker-info" class="alert alert-success text-center banker-info">
            The banker is contacting you with an offer. <br /> 
            His offer is based on the remaining cases and your performance so far. 
        </div>
        <div data-provide="banker-target"></div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nope, No deal</button>
        <button type="button" class="btn btn-success">OK, I'll take the deal!</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="switchBoxModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">        
        <h4 class="modal-title">Trade Cases?</h4>
      </div>
      
      <div class="modal-body">
        <div data-provide="banker-info" class="alert alert-success text-center banker-info">
             <p>In the spirit of competition, the Banker will let you trade your case for the last case on the board.</p>
             <p><strong>Would you like to?</strong></p>
        </div>        
      </div>
      
      <div class="modal-footer">
        <a class="btn btn-danger" href="#nope" data-provide="trade-box">Nope, No trade</a>
        <a class="btn btn-success" href="#yes" data-provide="trade-box">Yes! Let's trade</a>
      </div>
      
    </div>
  </div>
</div>


<script type="text/template" id="bankerTemplate">
<div class="row">

  <div class="col-md-7">
    <div class="text-center banker-offer-container">
        <h3>Your offer is:</h3>
        <div class="banker-offer-amount"><%= board.currentOffer %></div>
    </div>
   </div>
  <div class="col-md-5">
    <h4>Previous Offers:</h4>
    
  </div>
</div>
</script>

<script>

var board = @Html(dealBoard.toString);

function getBoxAtPos(position){
    return _.findWhere(board.boxes, {pos: position});
}

function fetchJson( payload, url ){

     if( !url ){
       url = "@routes.Application.playDeal(game.id)"
     }

    return $.ajax({url: url, type: "POST",
                  data: JSON.stringify(payload), 
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",      
    });
}

function setGameStatus( status ){
    $("#boardTarget [data-provide='game-status']").html( status );
}

function renderBoard(status){
    var rows = [ _.range(1, 7), _.range(7, 14), _.range(14, 21), _.range(21, 27) ];
    var template = _.template( $("#boardTemplate").html() );
    
    $("#boardTarget").html( template({board: board, rows: rows, status: status}) );
}

function showBankerOffer(){

    var bankerTemplate = _.template( $("#bankerTemplate").html() );
    
    $("#bankerModal .modal-footer button").addClass("hidden");
    $("#bankerModal .banker-info").removeClass("hidden");    
    $("#bankerModal [data-provide='banker-target']").html("");
    
    $("#bankerModal").modal({keyboard: false});
    
    $("#bankerModal").on("shown.bs.modal", function(){    
        window.setTimeout(function(){
            $("#bankerModal .modal-footer button").removeClass("hidden");
            $("#bankerModal .banker-info").addClass("hidden");            
            $("#bankerModal [data-provide='banker-target']").html( bankerTemplate() );
        }, 3000);
    
        $("#bankerModal").off("shown.bs.modal");    
    });
    
}

function showSwitchModal(){
    $("#switchBoxModal").modal({keyboard: false});
}

function updateBoard(){

  if( !board.selectedBox ){
    renderBoard("You need to pick 'your case' to start off!");
  }else{
    var status = (board.boxesToPick > 0) ? "Awesome. Just " + board.boxesToPick + " more to pick." : "";  
    renderBoard(status);
  }

  if( board.canSwitch ){
    showSwitchModal();
  }

  if( board.currentOffer ){
    showBankerOffer();            
  }
  
}

$(document).ready(function(){      
        
  updateBoard();
  
  $("#boardTarget").on("click", "[data-provide='briefcase']", function(){
        
    if( $(this).data("isplayed") ){
        alert("Sorry! That case has already been played.");   
        return false;    
    }
        
    var pos = $(this).attr("href").replace("#", "");
    
    if( !board.selectedBox ){ 
        fetchJson( {action: "selectCase", pos: parseInt(pos)} ).success(function(data){
            board = data;
            updateBoard();            
        });                            
    }else{
        fetchJson( {action: "openBox", pos: parseInt(pos)} ).success(function(data){
            board = data;
            updateBoard();
        });                                
    }
    
    return false;
  });      
  
  $("#switchBoxModal").on("hide.bs.modal", function(){
    fetchJson({action: "declineSwitchBox"} ).success(function(data){
        board = data;
        updateBoard();        
    });  
  });
  
  $("#switchBoxModal").on("click", "[data-provide='trade-box']", function(){
    var action = $(this).attr("href").replace("#", "") == "yes" ? "switchBox" : "declineSwitchBox";
    
    fetchJson({action: action} ).success(function(data){
        $("#switchBoxModal").modal("hide");
        board = data;
        updateBoard();        
    });
                                        
    return false;
  });  

  
});
</script>

}