@* fbLogin Template File *@
@(param: Any)

@main("Please Login!", "sticky-footer") {
    
<div class="container no-header-container">
    <div class="row">
        <div class="col-md-12">
            <div class="inner"> 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    
                        <div class="alert alert-danger text-center">
                            <h3>Sorry! You need to be logged in with Facebook to play</h3>                                                                                   
                        </div>
                        
                        <div class="alert alert-danger hidden" data-provide="fb-error"></div>
                        
                        <a class="btn btn-block btn-social btn-facebook" href="#" data-provide="fb-login">
                            <i class="fa fa-facebook"></i> Login and play!
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
        
<script>
function handleFbResponse(response){
    
    $("[data-provide='fb-error']").addClass("hidden");
    
    if (response.status === 'connected') {          
        window.location = "";          
    } else if (response.status === 'not_authorized') {
        $("[data-provide='fb-error']").html("Sorry! You need to authorize this app to play.").removeClass("hidden");
        document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
    } else {        
        $("[data-provide='fb-error']").html("Sorry! You need to login and authorize this app to play.").removeClass("hidden");
    }
    
}

$(document).ready(function(){
    $("[data-provide='fb-login']").click(function(){
        FB.login(handleFbResponse);
        return false;
    });
});
</script>
        
}