@* game Template File *@
@(game: AvailableKey, targetPhrase: List[String], availableWords: List[Phrase])
@import java.math.BigInteger; var len = 0

@main("Play a game!") {
    <div class="container well-container golf-word-container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner">
                    
                    <div class="row">
                        <div class="col-md-12">                    
		                    <div class="pull-left">
		                       <h2>Playing @game.getReadableGame at @game.publicKey</h2>
		                    </div>
		                    <div class="pull-right">
		                       <h2>Prize: @game.amount</h2>
		                    </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-md-7">
                         
                          <div class="word-container">
                            <ul class="word-list">                            
                                @for(word <- targetPhrase){
                                  <li>@word</li>
                              
                                  @if(word != targetPhrase.last){
                                    <li data-provide="blank-target" class="word-target"></li>
                                  }                                           
                                }
                            </ul>                           
                         </div>
                         
                         <div class="word-options-container">
                                                        
                            <div data-provide="options-list">
                                @renderPhrases(availableWords)                            
                            </div>
                            
                            <form data-provide="own-phrase" class="own-phrase">
                                <div class="input-group">
                                    <input name="phrase" class="form-control" type="text" placeholder="Enter your own pharse..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Play Phrase!</button>
                                        <button class="btn btn-default" type="reset">Get New Phrases</button>
                                    </span>
                               </div>
                            </form>
                            
                            
                            <div data-provide="calculated-hash" class="padded-alert alert alert-warning">
                                Your hash: 
                            </div>
                            
                            <div data-provide="win-status" class="padded-alert text-center alert">
                                
                            </div>                                                        
                            
                         </div>
                                                  
                        </div>
                        <div class="col-md-5">
                            <div class="info-box alert alert-info text-right">
                                <h3 class="no-margin">How it works:</h3>
                                <ul class="game-rules">
                                    <li>Easy! Use the cards against humanity to complete the phrase.</li>
                                    <li>We'll calculate the SHA256(SHA256()) of your complete phrase.</li>
                                    <li>If the last character matches the last character in the public key, you win!</li>
                                    <li><strong>Playing is easy, just click a phrase above or enter your own phrase.</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </div>
    </div>
    
    <script>

      function getCalculatedHash(){
        
        var phrase = [];
        $(".word-list li").each(function(){            
            phrase.push( $(this).text() );
        });
        
        $("[data-provide='win-status']").hide();
        
        var data = {id: @game.id, phrase: phrase.join(" ")};
        
        $.ajax({
          url: "@routes.Application.getHash",
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            $("[data-provide='calculated-hash']").html("<strong>Your hash:</strong> " + data.calculatedHash).show();            
            $("[data-provide='win-status']").removeClass("alert-success alert-danger");
            
            var textVal = "";
            
            if( data.isMatch ){
              $("[data-provide='win-status']").addClass("alert-success");
              textVal = "<h3>Awesome! That's a winner!</h3><a href='" + data.redeemUrl + "'>Click here to redeem!</a>";
            }else{
              $("[data-provide='win-status']").addClass("alert-danger");
              textVal = "<h3>Womp. No dice.</h3>";
            }
            
            $("[data-provide='win-status']").html( textVal );
            $("[data-provide='win-status']").slideDown();           
          }
        });
          
      }
    
      $(document).ready(function(){
          
          $("[data-provide='options-list']").on("click", "[data-provide='phrase-target']", function(){
              $("[data-provide='blank-target']").html( $(this).text() );
              getCalculatedHash();
              return false;
          });

          $("[data-provide='own-phrase'] button[type='reset']").click(function(){
            $.get("@routes.Application.getRandomPhrases", function(html){
                $("[data-provide='options-list']").html( html );
            }); 
            return false;
          });

          $("[data-provide='own-phrase']").submit(function(){
              var phrase = $(this).find("[name='phrase']").val();
              if( phrase.length ){
                  $("[data-provide='blank-target']").html( phrase );
                  getCalculatedHash();
              }
              return false;
          });
          
      });
    </script>
}