@(title: String, bodyClass: String = "")(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Setfive's Bitcoin Genie | @title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>    
    <link rel='stylesheet' href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
    <link rel='stylesheet/less' href='@routes.Assets.at("css/setfive.less")'>
    <link rel='stylesheet/less' href='@routes.Assets.at("css/styles.less")'>
    <script type='text/javascript' src='@routes.Assets.at("js/jquery-1.11.1.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/less.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/underscore-min.js")'></script>
</head>
<body class="@bodyClass">    
    
	<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a href="#" class="navbar-brand"></a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <div class="logo">
	                    <a href="@routes.Application.index()"><img src="@routes.Assets.at("/images/logo_noconsulting.png")"></a>
	                </div>
	                <ul class="nav navbar-nav">
	                    <li class="active"><a href="@routes.Application.index()">Home</a></li>
	                </ul>
	            </div><!--/.nav-collapse -->
	        </div>
	</div>    
    
    <div class="content-container">
        @content
    </div>
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <h2>"No BS. Just Results"</h2>
                </div>
                <div class="col-md-6 col-sm-7 text-right">
                    <div class="link-list text-right">
                        <a target="_blank" href="http://www.setfive.com">Setfive Consulting</a>
                        <span class="seperator">|</span>
                        <a href="mailto:contact@@setfive.com">contact@@setfive.com</a>
                        <span class="seperator">|</span>
                        <a href="tel:+16178630440">617-863-0440</a>
                    </div>
                </div>
            </div>
        </div>
   </div>    
    
</body>
</html>
