@* redeem Template File *@
@(param: Any)

@main("Play a game!") {
    <div class="container well-container golf-word-container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner">
                    
                    <div class="row">
                        <div class="col-md-12">                    
                            <div class="pull-left">
                               <h2>Redeem </h2>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </div>
}